* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-height: 100%;
	max-width: 100%;
}
.img {
	height: 200px;
}
header {
	position: fixed;
	height: 100px;
	width: 100%;
	background-color: blue;
	z-index: 1000;
}
header .container {
	display: flex;
}
.logo {
	display: inline-block;
	flex-grow: 1;
}
.logo a {
	display: inline-block;
	height: 80px;
}
.menu {
	display: inline-block;
	flex-grow: 14;
}

/*///////////////////////*/
.menu a {
	display: inline-block;
	background-color: green;
	color: black;
	padding: 5px 10px;
	font-size: 20px;
	border: 5px solid transparent;
	border-radius: 10px;
	margin: 25px;
}
.menu a:hover {
	text-decoration: none;
	background-color: red;
	border: 5px solid black;
}
/*///////////////////////*/

.social-menu {
	display: inline-block;
	flex-grow: 1;
}


.social-menu a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-size: cover;
	margin: 30px 10px;
}
.social-menu a:nth-child(1) {
	background-image: url(../images/instagram1.png);
}
.social-menu a:nth-child(1):hover {
	background-image: url(../images/instagram.png);
}
.social-menu a:nth-child(2) {
	background-image: url(../images/facebook1.png);
}
.social-menu a:nth-child(3) {
	background-image: url(../images/tell1.png);
}


.vidstup {
	height: 120px;
}